<div class="wrapper">
  <div class="title-text">
    <div class="title login">Customer Login</div>
  </div>
  <div class="form-container">
    <div class="form-inner">
      <form action="" method="POST" class="login">
        <div class="field">
          <input name="email" ltype="text" placeholder="Email" value="{{data.email}}" required>
        </div>
        <div class="field">
          <input name="password" type="password" placeholder="Mật khẩu" value="{{data.password}}" required>
        </div>
        {{#if error}}
          <div class="error-message" style="color: red;">{{error}}</div>
        {{/if}}
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Đăng nhập">
        </div>
        <div class="signup-link mt-2"><a href="../admin/login">Đăng nhập admin</a></div>
        <div class="signup-link mt-2"><a href="../manager/login">Đăng nhập manager</a></div>
        <div class="signup-link mt-2">Chưa có tài khoản? <a href="./signup">Đăng kí ngay</a></div>
      </form>
    </div>
  </div>
</div>
